* {
    margin: 0;
    padding: 0;
}
.triangle div {
    margin-bottom: 20px;
}
hr+div {
    margin: 50px;
}
.triangle-1 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    border-top: 100px solid red;
}

.triangle-2 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid red;
    border-left: 100px solid red;
}

.triangle-3 {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
}
.triangle-4 {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
}
.triangle-5 {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
}
.triangle-6 {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
}

/* 四边形 */
.square-1 {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: red;
    position: relative;
    left: 100px;
}
.square-1::before {
    content: '';
    position: absolute;
    left: -100px;
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
}
.square-1::after {
    content: '';
    position: absolute;
    left: 100px;
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
}
.square-2 {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 200px;
    border-bottom: 100px solid red;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}
.square-2:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}
.trapezoidal {
    width: 100px;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}
.pentagon {
    display: inline-block;
    width: 100px;
    height: 0;
    position: relative;
    top: 50px;
    border-top: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.pentagon::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -185px;
    left: -50px;
    border-bottom: 85px solid red;
    border-left: 100px solid transparent;
}
.pentagon::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -185px;
    left: 50px;
    border-bottom: 85px solid red;
    border-right: 100px solid transparent;
}
.pentagon-1 {
    display: inline-block;
    width: 100px;
    height: 0;
    position: relative;
    border-top: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.pentagon-1::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -200px;
    left: -50px;
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.hexagon:before{
    content: '';
    display: block;
    width: 100px;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
}
.hexagon:after{
    content: '';
    display: block;
    width: 100px;
    height: 0;
    border-top: 100px solid red;
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
}

.octagon {
    width: 200px;
    height: 80px;
    background-color: red;
    position: relative;
    margin: 100px;
}
.octagon::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -60px;
    width: 100px;
    height: 0;
    border-bottom: 60px solid red;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}
.octagon::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 80px;
    width: 100px;
    height: 0;
    border-top: 60px solid red;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}
.star {
    width: 0;
    height: 0;
    margin: 100px;
    position: relative;
    transform: rotate(0deg);
    border-top: 100px solid red;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}
.star::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -165px;
    left: -47px;
    width: 0;
    height: 0;
    border-left: 100px solid red;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    transform: rotate(21deg);
}
.star::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -170px;
    left: -58px;
    width: 0;
    height: 0;
    border-right: 100px solid red;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    transform: rotate(-20deg);
}
.sixStart {
    width: 0;
    height: 0;
    border-bottom: 175px solid red;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}
.sixStart::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 175px solid red;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    -webkit-transform: translate(-115px, 60px);
    -moz-transform: translate(-115px, 60px);
    -ms-transform: translate(-115px, 60px);
    -o-transform: translate(-115px, 60px);
    transform: translate(-115px, 60px);
}
.heart {
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    background-color: red;
    transform: rotate(45deg);
}
.heart::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -42px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}
.heart::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -42px;
    right: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}
.heart-1 {
    width: 80px;
    height: 120px;
    margin: 50px;
    border-radius: 50px 50px 0 0;
    background-color: red;
}
.heart-1:before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 120px;
    border-radius: 50px 50px 0 0;
    background-color: red;
    transform: translate(30px, 20px) rotate(90deg);
}
.infinity:after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 20px solid red;
    border-radius: 50% 50% 50% 0;
    margin-left: 150px;
    transform: translate(0px, 0px) rotate(45deg);
}
.infinity:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 20px solid red;
    border-radius: 50% 0 50% 50%;
    transform: translate(140px, 0px) rotate(45deg);
}
.diamond {
    width: 100px;
    height: 0;
    margin-bottom: 200px;
    border-bottom: 75px solid red;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}
.diamond::after {
    content: '';
    display: inline-block;
    margin-bottom: 50px;
    border-top: 150px solid red;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform: translate(-100px ,75px);
}
.ball {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, red, darkred);
    border-radius: 50%;
}
.semicircle {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 110px 110px 0 0;
}
.fan {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-radius: 100px 100px 0 0;

}
.gossip {
    display: inline-block;
    transform-origin: center;
    animation: circle 3s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.gossip-2, .gossip-1 {
    width: 100px;
    height: 200px;
    border: 3px solid black;
    position: relative;
    display: inline-block;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 2
}
.gossip-2 .dot {
    top: 20%;
    left: -25%;
    background: #ffffff;
}
.gossip-2 {
    background-color: black;
    border-radius: 0 100px 100px 0;
}
.gossip-1 .dot {
    bottom: -70%;
    right: -100%;
    background: #000000;
}
.gossip-1 {
    background-color: #ffffff;
    border-radius: 100px 0 0 100px;
    left: 5px;
}
.gossip-1::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}
.gossip-2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #000000;
}
